-- CreateEnum
CREATE TYPE "utilisateurs_role" AS ENUM ('user', 'pro', 'admin', 'superadmin');

-- CreateEnum
CREATE TYPE "collaborations_role" AS ENUM ('owner', 'editor', 'viewer', 'supervisor');

-- CreateEnum
CREATE TYPE "projets_type" AS ENUM ('entreprise', 'developpement', 'mixte');

-- CreateEnum
CREATE TYPE "ressources_type_ressource" AS ENUM ('RH', 'RF', 'RMF', 'RMN', 'SERVICE', 'MATERIEL');

-- CreateEnum
CREATE TYPE "projets_statut" AS ENUM ('brouillon', 'soumis', 'en cours de r├®vision', 'approuv├®', 'rejet├®', 'archiv├®');

-- CreateEnum
CREATE TYPE "fichiers_usage" AS ENUM ('attachment', 'export', 'template', 'submission');

-- CreateEnum
CREATE TYPE "ressources_frequence" AS ENUM ('one_time', 'monthly', 'quarterly', 'annual');

-- CreateTable
CREATE TABLE "activites" (
    "id" BIGSERIAL NOT NULL,
    "resultat_id" BIGINT NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "titre" VARCHAR(400) NOT NULL,
    "description" TEXT,
    "date_debut" TIMESTAMP(3),
    "date_fin" TIMESTAMP(3),
    "duree_jours" INTEGER,
    "ordre" INTEGER DEFAULT 0,
    "metadonnees" TEXT,
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "modifie_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "activites_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "amortissements" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "libelle_actif" VARCHAR(255) NOT NULL,
    "date_achat" TIMESTAMP(3),
    "cout_achat" DECIMAL(65,30) DEFAULT 0.0000,
    "duree_utilite_mois" INTEGER DEFAULT 0,
    "valeur_residuelle" DECIMAL(65,30) DEFAULT 0.0000,
    "amortissement_mensuel" DECIMAL(65,30),
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "amortissements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "collaborations" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "utilisateur_id" BIGINT NOT NULL,
    "role" "collaborations_role" DEFAULT 'editor',
    "invite_par" BIGINT,
    "accepte_le" TIMESTAMP(3),
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "collaborations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "commentaires" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "utilisateur_id" BIGINT NOT NULL,
    "commentaire_parent_id" BIGINT,
    "contenu" TEXT NOT NULL,
    "metadonnees" TEXT,
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "commentaires_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fichiers" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT,
    "proprietaire_id" BIGINT,
    "cle_stockage" VARCHAR(1024) NOT NULL,
    "nom_original" VARCHAR(512),
    "type_mime" VARCHAR(256),
    "taille_octets" BIGINT DEFAULT 0,
    "usage" "fichiers_usage" DEFAULT 'attachment',
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "fichiers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "flux_tresorerie" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "libelle_periode" VARCHAR(100),
    "date_periode" TIMESTAMP(3),
    "entree" DECIMAL(65,30) DEFAULT 0.0000,
    "sortie" DECIMAL(65,30) DEFAULT 0.0000,
    "net" DECIMAL(65,30),
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "flux_tresorerie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "indicateurs_financiers" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "cle_indicateur" VARCHAR(100) NOT NULL,
    "valeur_indicateur" DECIMAL(65,30),
    "calcule_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "calcule_par" BIGINT,

    CONSTRAINT "indicateurs_financiers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lignes_budget" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "activite_id" BIGINT,
    "ressource_id" BIGINT,
    "categorie" VARCHAR(150),
    "description" VARCHAR(500),
    "annee_periode" SMALLINT,
    "montant" DECIMAL(65,30) DEFAULT 0.0000,
    "devise" VARCHAR(8) DEFAULT 'USD',
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "modifie_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lignes_budget_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "modeles" (
    "id" BIGSERIAL NOT NULL,
    "identifiant_slug" VARCHAR(200) NOT NULL,
    "nom" VARCHAR(255) NOT NULL,
    "secteur" VARCHAR(120),
    "description" TEXT,
    "structure" TEXT NOT NULL,
    "cree_par" BIGINT,
    "est_public" BOOLEAN DEFAULT true,
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "modifie_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "modeles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "organisations" (
    "id" BIGSERIAL NOT NULL,
    "nom" VARCHAR(255) NOT NULL,
    "type" VARCHAR(100),
    "contact_json" TEXT,
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "modifie_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "organisations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "projets" (
    "id" BIGSERIAL NOT NULL,
    "proprietaire_id" BIGINT NOT NULL,
    "organisation_id" BIGINT,
    "type" "projets_type" NOT NULL DEFAULT 'entreprise',
    "statut" "projets_statut" DEFAULT 'brouillon',
    "titre" VARCHAR(512) NOT NULL,
    "description_courte" VARCHAR(1024),
    "metadonnees" TEXT,
    "progression" INTEGER DEFAULT 0,
    "est_public" BOOLEAN DEFAULT false,
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "modifie_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "projets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ressources" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "activite_id" BIGINT,
    "type_ressource" "ressources_type_ressource" DEFAULT 'MATERIEL',
    "libelle" VARCHAR(300) NOT NULL,
    "unite" VARCHAR(80),
    "quantite" DECIMAL(65,30) DEFAULT 0.0000,
    "cout_unitaire" DECIMAL(65,30) DEFAULT 0.0000,
    "frequence" "ressources_frequence" DEFAULT 'one_time',
    "cout_total" DECIMAL(65,30),
    "notes" TEXT,
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "modifie_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ressources_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "resultats" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "titre" VARCHAR(400) NOT NULL,
    "description" TEXT,
    "ordre" INTEGER DEFAULT 0,
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "modifie_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "resultats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "utilisateurs" (
    "id" BIGSERIAL NOT NULL,
    "organisation_id" BIGINT,
    "role" "utilisateurs_role" NOT NULL DEFAULT 'user',
    "email" TEXT NOT NULL,
    "telephone" TEXT,
    "mot_de_passe_hash" TEXT NOT NULL,
    "nom_utilisateur" TEXT,
    "langue" TEXT DEFAULT 'fr',
    "double_auth_active" BOOLEAN DEFAULT false,
    "profil" TEXT,
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "modifie_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reset_token" TEXT,
    "reset_token_expires" TIMESTAMP(3),

    CONSTRAINT "utilisateurs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "versions_projet" (
    "id" BIGSERIAL NOT NULL,
    "projet_id" BIGINT NOT NULL,
    "cree_par" BIGINT NOT NULL,
    "etiquette_version" TEXT,
    "capture" TEXT NOT NULL,
    "cree_le" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "versions_projet_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_activites_projet_ordre" ON "activites"("projet_id", "ordre");

-- CreateIndex
CREATE INDEX "idx_activites_resultat" ON "activites"("resultat_id");

-- CreateIndex
CREATE INDEX "idx_amortissements_projet" ON "amortissements"("projet_id");

-- CreateIndex
CREATE INDEX "idx_collab_projet" ON "collaborations"("projet_id");

-- CreateIndex
CREATE INDEX "idx_collab_user" ON "collaborations"("utilisateur_id");

-- CreateIndex
CREATE INDEX "idx_comment_parent" ON "commentaires"("commentaire_parent_id");

-- CreateIndex
CREATE INDEX "idx_comment_projet" ON "commentaires"("projet_id");

-- CreateIndex
CREATE INDEX "idx_comment_user" ON "commentaires"("utilisateur_id");

-- CreateIndex
CREATE INDEX "idx_fichiers_cle" ON "fichiers"("cle_stockage");

-- CreateIndex
CREATE INDEX "idx_fichiers_projet" ON "fichiers"("projet_id");

-- CreateIndex
CREATE INDEX "idx_fichiers_proprio" ON "fichiers"("proprietaire_id");

-- CreateIndex
CREATE INDEX "idx_flux_projet_periode" ON "flux_tresorerie"("projet_id", "date_periode");

-- CreateIndex
CREATE INDEX "idx_indic_calcule_par" ON "indicateurs_financiers"("calcule_par");

-- CreateIndex
CREATE INDEX "idx_indic_projet_cle" ON "indicateurs_financiers"("projet_id", "cle_indicateur");

-- CreateIndex
CREATE INDEX "idx_lb_activite" ON "lignes_budget"("activite_id");

-- CreateIndex
CREATE INDEX "idx_lb_categorie" ON "lignes_budget"("categorie");

-- CreateIndex
CREATE INDEX "idx_lb_projet_annee" ON "lignes_budget"("projet_id", "annee_periode");

-- CreateIndex
CREATE INDEX "idx_lb_ressource" ON "lignes_budget"("ressource_id");

-- CreateIndex
CREATE UNIQUE INDEX "uniq_model_slug" ON "modeles"("identifiant_slug");

-- CreateIndex
CREATE INDEX "idx_model_cree_par" ON "modeles"("cree_par");

-- CreateIndex
CREATE INDEX "idx_projets_proprietaire" ON "projets"("proprietaire_id");

-- CreateIndex
CREATE INDEX "idx_projets_type_statut" ON "projets"("type", "statut");

-- CreateIndex
CREATE INDEX "idx_projets_org" ON "projets"("organisation_id");

-- CreateIndex
CREATE INDEX "idx_ress_activite" ON "ressources"("activite_id");

-- CreateIndex
CREATE INDEX "idx_ress_projet_type" ON "ressources"("projet_id", "type_ressource");

-- CreateIndex
CREATE INDEX "idx_res_projet_ordre" ON "resultats"("projet_id", "ordre");

-- CreateIndex
CREATE UNIQUE INDEX "utilisateurs_email_key" ON "utilisateurs"("email");

-- CreateIndex
CREATE INDEX "idx_util_org_role" ON "utilisateurs"("organisation_id", "role");

-- CreateIndex
CREATE INDEX "idx_version_cree_par" ON "versions_projet"("cree_par");

-- CreateIndex
CREATE INDEX "idx_version_projet" ON "versions_projet"("projet_id");

